* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}


header div {
  display: flex;
  align-items: center;  
  justify-content: space-around;
  background: #233E84;
  height:  60px;
}

header a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /* line-height: 110%;   */
  
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #666666;
}

/* Início Modal */
 .lightbox {
		/** Hide the lightbox */
		display: none;

		/** Apply basic lightbox styling */
		position: fixed;
		z-index: 9999;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
    color:#333333;
    border-radius: 8px;
    }

  /* .lightbox p {
    text-align: center;
    padding: 2%;
    color: #000000;
  } */

   .lightbox b {
    text-align: center;
    padding: 2%;
    color: #000000;
    font-weight: bold;
  }

	.lightbox:after {
		content: '';
		display: table;
		clear: both;
	}

	.lightbox .box {
		width: -webkit-min-content;
		width: -moz-min-content;
		width: min-content;
    /* min-width:500px; */
    min-width: 770px;
    min-height: 478px;
		margin: 2% auto;
		/* padding:20px; */
		background-color:#FFF;
    box-shadow: 0px 1px 26px -3px #777777;
    
    border-radius: 8px;
    border:none;

    display: flex;  
    flex-direction: row;
	}

  .lightbox .title {
    margin:0;
    padding:0 0 10px 0px;
    border-bottom:1px #ccc solid;
    font-size:22px;
    }

  .lightbox .content {
    display:block;
    padding:10px 0 0 0px;
    font-size:18px;
    line-height:22px;
    background: #FFF;
    width: 385px;
    border: none;
    border-radius: 8px 0 0 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lightbox .content p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 110%;
    color: #233E84;
    text-align: center;
    padding-bottom: 10px;;
  }

  .lightbox .form-content {
    display:block;
    padding:10px 0 0 0px;
    font-size:18px;
    line-height:22px;
    background: #233E84;
    width: 385px;
    border: none;
    border-radius: 0 8px 8px 0;
  }

  .form-content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 43px;
  }

   .form-content2 p{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 130%;
      padding-top: 15px;

      color: #FFFFFF;
   }

   .form-content2 b {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      line-height: 130%;
      width: 100%;

      color: #FFFFFF;
   }

   .forms2 {
     padding-top: 40px;
   }

  .forms2 input{
  width: 289px;
  height: 55px;
  background: #233E84;
  color: #FFF;
  
  border-radius: 8px;
  border-color: #FFF;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 110%;
  text-align: center;
  margin-bottom: 15px;
}

  .forms2 input[type=submit] {
  width: 289px;
  height: 55px;
  background: #F2D035;
  color: #666666;
  border: none;
  border-radius: 8px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  text-align: center;

  transition: background 0.2s;
}

.forms2 input[type=submit]:hover {
  background: #f2c807;
}

  .lightbox .close {
    float:right;
    display:block;
    text-decoration:none;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:22px;
    color:#FFF;
    font-weight: bold;
    padding-right: 20px;
    }

	.lightbox .open {
		/** Show lightbox when mouse leaves the browser window */
		display: block;
		outline: none;
  }


/* Fim Modal */


section.section1 {
  margin: 150 auto;

  display: flex;
  align-items: center;  
  justify-content: space-around;
}

section.section1 {
  padding: 10%;
}

section.section1 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 110%;
  /* or 46px */

  display: flex;
  align-items: center;

  /* Dark */

  color: #666666;
}
section.section1 p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 110%;
  /* or 23px */

  display: flex;
  align-items: center;

  /* Dark */

  color: #666666;

  padding: 30px 0 60px 0;
}

section.section1 button {
  background: #F2D035;
  border-radius: 8px;
  width: 364px;
  height: 70px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 110%;
  /* or 23px */
  text-align: center;
  color: #666666;
  transition: background 0.2s;
}

section.section1 button:hover {
  background: #f2c807;
}

section.section1 h3 {
  padding-top:3%;
  padding-bottom: 3%;
  padding-left:7%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  color: #666666;
}

section.section1 span#contador {
  padding-left:8%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  color: #666666;color: #666666;
}

section.section2 {
  padding: 0 10%;
}

.section2-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section2-title > span {
  padding-bottom: 15px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
  color: #000000;
}

.section2-title h2 {
  padding-bottom: 90px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 110%;
  color: #000000;
}

.section2-title:nth-child() {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
}

.section2-title1 {
  padding: 60px 0;
  display: flex;
}

.section2-title2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px 0 15px;
}

.section2-title2 img {
  padding-bottom: 18px;
} 

.section2-title2 span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
}

.section2-title2 p {
  padding-top: 15px;
  text-align: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
  /* or 18px */

  display: flex;
  align-items: center;
  text-align: center;
}

.section2 a {
  padding-top: 15px;
}

.section2 a:hover {
  text-decoration: underline;
}

.section3 {
  padding: 3% 10%;
  display: flex;
  align-items: center;
}

.section3 img {
  padding-right: 120px;
}

.section3 h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 110%;
  margin-bottom: 15px;
}

.section3 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 130%;
}

.section3-first-paragraph {
  padding: 30px 0 15px 0;
}

.section3 button {
  margin-top: 30px;
  width: 370px;
  height: 70px;
  background: #F2D035;
  color: #666666;
  border-radius: 8px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 110%;
  text-align: center;

  transition: background 0.2s;
}

.section3 button:hover {
  background: #f2c807;
}

section.section4{
  padding: 125px 10%;
  margin: 0 auto;
  margin-bottom: 120px;

  background: #EDF1F6;
  border-radius: 8px;

  width: 1170px;
  height: 615px;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.forms {
  width: 545px;
  height: 499px;
}

.forms h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 130%;
  margin-bottom: 15px;
}

.forms p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 130%;
  text-align: justify;
  margin-bottom: 30px;
}

.forms input {
  width: 400px;
  height: 75px;
  background: #EDF1F6;
  border-radius: 8px;
  padding: 0 4%;
  border: 2px solid #233E84;
  font-size: 21px;
  margin-bottom: 15px;
}

.forms input[type=submit] {
  width: 400px;
  height: 70px;
  background: #F2D035;
  color: #666666;
  border: none;
  border-radius: 8px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 110%;
  text-align: center;

  transition: background 0.2s;
}

.forms input[type=submit]:hover {
  background: #f2c807;
}

.section4 img {
  padding-left: 125px;
}

footer {
  width: 100%;
  height: 70px;
  background: #233E84;

  color: #FFF;
  text-align: center;
}

footer ul {
 list-style: none;
 
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer ul li {
  display: inline;
  margin-right: 40px;
}

footer img {
  width: 30px;
  height: 30px;
}

.footer-logo {
  width: 175px;
  height: 57.59px;
  padding-top: 5%;
}

@media screen and (max-width: 768px){

  header {
    display: flex;
    flex-direction: row;
    height: 60px;
  }

  header img {
    /* width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 40% ; */
  }

    header a {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      /* line-height: 110%;   */
      
      color: #FFFFFF;
    }

  section.section1 {
    flex-direction: column-reverse;
    padding: 0;
    /* padding: ; */
  }

  section.section1 h1 {
    font-size: 34px;
    text-align: center;
  }

  section.section1 p {
    text-align: center;
  }

  section.section1 button {
    width: 100%;
    height: 70px;
    margin-bottom: 40px;
    font-size: 16px;
  }

  section.section1 h3 {
    margin-top: -30px;
    text-align: center;
    padding: 3% 0 2% 0;
  }

 section.section1 span#contador  {
    padding-left: 15%;
  }


  .section1, .section2, .section3 {

    width: 90%;

    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding: 0;

    margin: 0 auto ;
  }

  section.section2 {
    margin-top: 18px;
  }

  .section2-title {
    padding-top: 15px;
  }

  .section2-title span {
    text-align: center;
  }

  .section2-title h2 {
    text-align: center;
    padding-bottom: 40px;
  }

  .section2-title2 {
    padding-bottom: 40px;
  }

  .section2-title2 a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 110%;
    color: #233E84;
  }


  section.section3 {
    display: flex;

    width: auto;
    padding: 5% 5%;

    margin: 0 auto ;
  }

  .section3 {
    /* padding: 3% 10%;  */
    display: flex;
    align-items: center;

    margin: 0 auto ;
  }
  
  .section3 img {
    padding-right: 0px;
  }
  
  .section3 h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 15px;

    text-align: center;
  }
  
  .section3 p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;

    text-align: center;
  }
  
  .section3-first-paragraph {
    /* padding: 30px 0 15px 0; */
  }
  
  .section3 button {
    margin-top: 30px;
    width: 100%;
    height: 70px;
    background: #F2D035;
    color: #666666;
    border-radius: 8px;
    font-size: 16px;
  }

  .section3 div .resizeImg {
    display: none;
  }


  section.section4 {
    padding: 0;
    width: auto;
  }

  .section2-title1 {
    padding: 20px 0;
    flex-wrap: wrap;
  }

  .resizeImg {
    height: 100%;
    width: 100%;
  }

  #section4 {
    margin-top: 50px;
  }

  section.section4{
    flex-direction: column-reverse;

    padding: 5% 5%;
    

    margin: 0 auto;
    margin-bottom: 50px;
  
    width: 100%;
    height: 10%;
  }

  section.section4 div{
    width: 100%;
  }

  section.section4 p{
    /* width: 100%; */
  }

  .forms h1 {
    padding-top: 40px;
  }

  .forms input {
    width: 100%;
    height: 54px;
    font-size: 16px;
    font-weight: bold;

    background-color:white;

    color: #233E84;
  }
  
  .forms input[type=submit] {
    width: 100%;  
    height: 54px;
    font-size: 16px;

    margin-top: 20px;
  }

  .forms input::placeholder {
    width: 100%;
    height: 54px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #233E84;
  }

  .section4 img {
    padding-left: 0px;
  }

  footer {
    height: 135px;
    display: flex;
    align-items: center;  
    justify-content: space-around;
  }

  footer ul{
    display: flex;
    flex-direction: column-reverse;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;

    padding-top: 20px;
    padding-left: 30px;
  }

  footer img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 414px){
  section.section1 span#contador {
    padding-left: 19%;
}
}

@media screen and (max-width: 375px){
  section.section1 span#contador {
    padding-left: 15%;
}
}

@media screen and (max-width: 320px){
  section.section1 span#contador {
    padding-left: 10%;
}
}
