body {
  -webkit-font-smoothing: antialiased;
  font-family: "Ubuntu", sans-serif;

  background-color: #233e84;

  background-image: linear-gradient(to bottom, rgba(35, 63, 132, 0.918), rgba(35, 62, 132, 0.918)), url("../assets/livro1.png");
  -webkit-background-size: -1000px;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  width: 100%;
  height: 117px;

  flex-wrap: wrap;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;

  background: rgba(0, 0, 0, 0.3);
}

.header img {
  padding-left: 20px;
}

.header h1 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 110%;
  letter-spacing: 0.1em;

  color: #d9ba2f;
}

.header span {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
  /* letter-spacing: 0.2em; */

  font-variant: small-caps;

  color: #d9ba2f;

  background: #0f2251;
  border-radius: 8px;
  padding: 8px 13px;
  margin-right: 50px;
}

.center {
  display: flex;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-wrap: wrap;

  padding: 300px 0 0 0;
  margin: 0 auto;
}

.info {
  width: 40%;

  padding: 0 15% 0 0;
}

.info h1 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;

  padding-bottom: 35px;

  color: #ffffff;
}

.info h2 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 110%;

  font-variant: small-caps;
  padding-bottom: 35px;

  color: #d9ba2f;
}

.info h3 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 110%;

  font-variant: small-caps;

  color: #d9ba2f;
}

.info ul {
  list-style-type: disc;
  margin-left: 10px;
}

.info li {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 110%;
  margin-left: 17px;
  padding: 0 0 30px 0;
  /* padding-bottom: 30px; */

  color: #ffffff;
}

.negativoForm {
  margin-top: -130px;
}

.negativoForm img {
  padding-left: 65px;
}

.form {
  width: 450px;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  opacity: 1;

  background: #ffffff;
  box-shadow: 6px 6px 10px #8d8d8d;
  border-radius: 12px;

  padding: 80px 0 40px 0;
  margin-top: -90px;
}

.form h1 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 20px;
  letter-spacing: 0px;

  padding-top: 20px;
  padding-bottom: 20px;

  color: #3156b8;
}

.form p {
  width: 80%;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
  line-height: 20px;
  letter-spacing: 0px;

  margin-top: 25px;
  margin-bottom: 15px;

  color: #3156b8;
}

.form h6:hover {
  cursor: pointer;
  text-decoration: underline;
}

.form b {
  font-weight: bold;
  letter-spacing: 0.5px;
}

form {
  width: 70%;
}

.padtwo {
  padding-bottom: 0px;
  text-align: center;
}

.removelink {
  text-decoration: black;
}

.icon {
  display: flex;

}

.icon img {
  width: 49px;
  height: 35px;

  padding: 20px 0 0 0;
}

.icon img:hover {
  /* cursor: pointer; */
}

.form h6 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;

  color: #666666;

  padding: 20px 0 0 0;
}

.asterisk {
  color: #e65562;
  padding-right: 4px;
}

input[type="submit"] {
  width: 100%;
  height: 54px;

  display: flex;
  justify-content: center;

  margin: 0 auto;

  cursor: pointer;

  background: #3570b2;

  border-radius: 60px;
  border: #3570b2;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
  box-shadow: 0px 3px 6px #2e2d2c66;
}

input {
  width: 100%;
  height: 40px;

  margin-bottom: 20px;
  padding-left: 16px;

  mix-blend-mode: normal;
  border: 2px solid #3570b2;
  box-sizing: border-box;
  backdrop-filter: blur(40px);

  border-radius: 8px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #3570b2;

  mix-blend-mode: normal;
}

input:focus {
  outline: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #0e2f83;
  border-radius: 8px;

  color: black;
}

input::placeholder {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #99879d;

  mix-blend-mode: normal;
}

input[type="submit"]:hover {
  transition: 0.2s;
  background-color: #0f2251;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 10%;
  }

  * div {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .icon {
    display: flex;
    justify-content: center;
  }

  .center {
    width: 100%;
  }

  .header {
    /* display: none; */
    width: 125%;
    height: 317px;
  }

  .header img {
    padding-left: 100px;
  }

  .header h1 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0.1em;
    color: #d9ba2f;
    width: 90%;
    padding-left: 10px;
  }

  .header span {
    font-size: 32px;
  }

  .info {
    width: 80%;

    padding: 0 0 150px 0;
  }

  input {
    backdrop-filter: 0;
  }
}

@media screen and (max-width: 414px) {
  .header img {
    padding-left: 158px;
  }

  .header h1 {
    font-size: 17px;
    padding-left: 24px;
  }

  .header span {
    margin-left: 60px;
  }

  .form {
    width: 518px;
  }
}

@media screen and (max-width: 411px) {
  .header {
    width: 125%;
    height: 317px;
  }

  .header img {
    padding-left: 156px;
  }

  .header h1 {
    padding-left: 33px;
    font-size: 16px;
  }

  .header span {
    margin-left: 80px;
    font-size: 27px;
    width: 100%;
  }

  .form {
    width: 514px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    width: 137%;
  }

  .header img {
    padding-left: 157px;
  }

  .header h1 {
    padding-left: 31px;
    font-size: 16px;
  }

  .header span {
    margin-left: 77px;
    margin-right: 0;
  }
}

@media screen and (max-width: 360px) {
  .header {
    width: 125%;
  }

  .header img {
    padding-left: 129px;
  }

  .header h1 {
    padding-left: 36px;
    font-size: 14px;
  }

  .header span {
    margin-left: 55px;
    margin-right: 0;
  }

  .form {
    width: 450px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 139%;
  }

  .header img {
    padding-left: 118px;
  }

  .header h1 {
    padding-left: 45px;
  }

  .header span {
    font-size: 32px;
    margin-left: 31px;
  }
}
